site_name: MarkDown & MkDocs

site_url: https://marcelomarot.github.io/markdown-mkdocs/

# Repositorio
repo_url: https://github.com/MarceloMarot/markdown-mkdocs
repo_name: markdown-mkdocs
edit_uri: edit/master/docs/

copyright: Copyright &copy; 2024 Marcelo Marot Rosas

theme: 
  name: material
  # favicon: images/favicon.png   # no anda
  icon:
    #icono de pagina
    logo: simple/markdown  
    # logo: bootstrap/activity  # icono local 
    # iconos de avance y retroceso 
    previous: fontawesome/solid/angle-left
    next: fontawesome/solid/angle-right
    # Icono de repositorio
    repo: fontawesome/brands/github
    # Icono de acciones de repositorio
    edit: material/pencil 
    view: material/eye
    #  iconos de etiquetas
    tag:
      html: fontawesome/brands/html5
      js: fontawesome/brands/js
      css:  fontawesome/brands/css3
      yaml: simple/yaml
      python: fontawesome/brands/python
      docker: fontawesome/brands/docker
      podman: simple/podman
      markdown: fontawesome/brands/markdown
      mkdocs: simple/materialformkdocs
      ts: simple/typescript
      csv: fontawesome/solid/file-csv
      bash: simple/gnubash
      # icono comodín
      # default: material/cursor-default-click

  # # fuentes remotas
  # font:
  #   text: Matemasie
  #   code: Grey Qo

  # carpeta local con extras (opcional)
  custom_dir: overrides
  
  features:
    - content.tabs.link         # pestañas sincronizadas
    - content.code.copy         # botón de copia 
    - content.code.annotate     # botones de anotaciones emergentes

    - search.suggest      # sugerencias en caja de búsqueda
    - search.highlight  # remarcado en página
    - search.share      # link 'compartir' en caja de búsqueda
    # - search.exclude

    - navigation.instant
    - navigation.instant.progress   # progreso de carga (conexiones lentas)
    - navigation.tracking
    # pestañas de contenido
    - navigation.tabs
    # - navigation.tabs.sticky
    # - navigation.sections
    - navigation.expand
    # - navigation.prune 
    # - navigation.indexes 
    - toc.follow
    # - toc.integrate   # integra indice derecho (secciones) adentro del izquierdo (rutas)
    - navigation.top  # boton emergente para volver al inicio  - aparece al intentar subir con el scroll

    # Pie de pagina
    - navigation.footer

    # header y anuncios
    - header.autohide
    - announce.dismiss

    # acciones sobre repositorio
    # - content.action.edit
    - content.action.view

    # tooltips
    - content.tooltips


  # soporte de idiomas
  language: es    # Idioma predefinido
  # direction: ltr

  # Opciones de temas y colores
  palette: 
    # Cambio de paleta al modo claro
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/brightness-7 
        name: Cambia al modo oscuro 
      # primary: indigo
      # accent: blue
      primary: deep purple
      accent: pink
    # Cambio de paleta al modo oscuro
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/brightness-4     # icono
        name: Cambia al modo claro      # mensaje
      primary: deep purple
      accent: pink







markdown_extensions: 
  # "advertencias"
  - admonition
  - pymdownx.details
  - pymdownx.superfences

  # anotaciones
  - attr_list
  - md_in_html
  - pymdownx.superfences

  # grids
  - attr_list
  - md_in_html

  # emojis - iconos
  - attr_list
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
      # Iconos LOCALES
      options:
        custom_icons:
          - overrides/.icons    # Carpeta local - ruta desde directorio raiz del proyecto

  # pestañas de contenido
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true

  # matematica
  - pymdownx.arithmatex:
      generic: true

  # Tablas (activado por defecto)
  - tables

  # formato pestañas - 'slugify' (v9.6 0 más reciente)
  # - pymdownx.tabbed:
  #     slugify: !!python/object/apply:pymdownx.slugs.slugify
  #       kwds:
  #         case: lower

  #bloques codigo
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite   # habilita remarcado de renglones
  - pymdownx.snippets       # habilita importar código de otros archivos
  - pymdownx.superfences    # habilita anidado de otros contenidos

  # notas al pie
  - footnotes
  
  # formateo
  - pymdownx.critic
  - pymdownx.caret
  - pymdownx.keys
  - pymdownx.mark
  - pymdownx.tilde

  # opciones de imagenes
  - attr_list
  - md_in_html

  # listas especiales
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true

  # tooltips
  - abbr
  - attr_list
  # - pymdownx.snippets
  - pymdownx.snippets:
      auto_append:
          - includes/glosario.md



extra:
  # homepage: https://marcelomarot.github.io/markdown-mkdocs/
  # homepage: /

  # Etiquetas de contenidos
  tags:
    HTML5: html
    JavaScript: js
    CSS: css
    YAML: yaml
    Python: python
    Docker: docker 
    Podman: podman 
    MarkDown: markdown
    MkDocs: mkdocs
    TypeScript: ts
    CSV: csv
    Bash: bash 

  # habilitar Google Analytics
  # analytics:
  #   provider: google
  #   property: G-XXXXXXXXXX
  #   # encuesta agregada
  #   feedback:
  #     title: Was this page helpful?
  #     ratings:
  #       - icon: material/emoticon-happy-outline
  #         name: This page was helpful
  #         data: 1
  #         note: >-
  #           Thanks for your feedback!
  #       - icon: material/emoticon-sad-outline
  #         name: This page could be improved
  #         data: 0
  #         note: >- 
  #           Thanks for your feedback! Help us improve this page by
  #           using our <a href="..." target="_blank" rel="noopener">feedback form</a>.


#   # Idiomas seleccionables
#   alternate:
#     - name: Change to English
#       link: /en/    # ruta relativa al contenido en inglés
#       lang: en
#     - name: Cambiar a Español
#       link: /       # ruta relativa al contenido en español
#       lang: es
# # menu de cookies
# #  consent:
#     title: Cookie consent
#     description: 
#       We use cookies to recognize your repeated visits and preferences, as well
#       as to measure the effectiveness of our documentation and whether users
#       find what they're searching for. With your consent, you're helping us to
#       make our documentation better.
#     actions:
#       - accept
#       - manage 
  # generator: false

  # Iconos de contacto cerca del footer
  # social:
  #   - icon: fontawesome/brands/mastodon 
  #     link: https://fosstodon.org/
  #     name: Ir a Mastodon
  #   - icon: fontawesome/solid/paper-plane
  #     link: mailto:<email-address>
  #     name: Enviar correo





extra_css:
  - stylesheets/extra.css
  - stylesheets/iconos_demo.css
  # - stylesheets/colores_custom.css
  - stylesheets/colores_codigo.css
  - stylesheets/ancho_maximo.css
  #katex
  - https://unpkg.com/katex@0/dist/katex.min.css


extra_javascript:
  # mathjax
  # - javascripts/mathjax.js
  # - https://unpkg.com/mathjax@3/es5/tex-mml-chtml.js
  # katex
  - javascripts/katex.js
  - https://unpkg.com/katex@0/dist/katex.min.js
  - https://unpkg.com/katex@0/dist/contrib/auto-render.min.js

  # Tablas ordenables - TableSort
  - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
  - javascripts/tablesort.js        # archivo local


plugins:
  # Tarjetas PNG automáticas 
  # - social:
  #     cards_layout: default/purple
  #     cards_layout_options:
  #       # background_color: "#0FF1CE8F"
  #       background_color: "#0FF1CEFF"

  #     debug: true

  # lectura tablas desde archivo
  # - search
  # - table-reader

  # Imagenes
  - glightbox

  # privacidad - hace copia local de contenidos remotos
  - privacy

  # busqueda
  - search

  # etiquetas
  # - tags
  - tags:
      tags_file: tags.md
  #     tags_file: mkdocs-material/referencia/tags.md

  # fechas de repositorio
  - git-revision-date-localized:
      enabled: true
      enable_creation_date: true
      type: date        # fecha
      # type: datetime    # fecha y hora
      # type: iso_date    # fecha ISO (sólo numeros)
      # type: iso_datetime  # fecha ISO (sólo numeros)
      # type: timeago       # tiempo desde publicación
      fallback_to_build_date: true

  # autores y colaboradores
  # - git-authors
  # - git-committers:
  #     repository: MarceloMarot/markdown-mkdocs
  #     branch: master
  #     enabled: true


watch:
  - includes


nav:
  - Indice: index.md
  - MarkDown:  
    - Básico: markdown/markdown_basico.md
    - Fórmulas matemáticas: markdown/markdown_matematica.md
  - MkDocs-Material: 

    - Primeros pasos: mkdocs-material/basico.md
    
    - Configuración: 
      - Lenguaje: mkdocs-material/setup/lenguaje.md
      - Temas y colores: mkdocs-material/setup/colores_temas.md
      - Fuentes: mkdocs-material/setup/fuentes.md
      - Búsqueda:  mkdocs-material/setup/busqueda.md
      - Navegación:  mkdocs-material/setup/navegacion.md
      - Sobreescritura y Personalización:  mkdocs-material/setup/sobreescritura.md
      - Componentes:  mkdocs-material/setup/componentes.md
      - Analíticas:  mkdocs-material/setup/analiticas.md
      - Privacidad de datos:  mkdocs-material/setup/privacidad_datos.md
      - Versionado: mkdocs-material/setup/versionado.md

    - Referencia: 
      - Encabezamientos y Etiquetas: mkdocs-material/referencia/headers.md
      - Advertencias: mkdocs-material/referencia/admonitions.md
      - Bloques de código: mkdocs-material/referencia/bloques_codigo.md
      - Tablas: mkdocs-material/referencia/tablas.md
      - Anotaciones: mkdocs-material/referencia/anotaciones.md
      - Grillas (grids): mkdocs-material/referencia/grids.md
      - Soporte para matemáticas: mkdocs-material/referencia/soporte_matematica.md
      - Pestañas (tabs): mkdocs-material/referencia/tabs.md
      - Íconos y Emojis: mkdocs-material/referencia/iconos_emojis.md
      - Notas al Pie (footnotes): mkdocs-material/referencia/footnotes.md
      - Formateo: mkdocs-material/referencia/formateo.md
      - Imágenes: mkdocs-material/referencia/imagenes.md
      - Listas: mkdocs-material/referencia/listas.md
      - Tooltips: mkdocs-material/referencia/tooltips.md




  - Indice de tags: tags.md






