

/* Nueva admonition:  "graph-up" */
/* icono de Bootstrap: https://icons.getbootstrap.com/icons/graph-up-arrow/ */
/* color lila */
:root {
    --md-admonition-icon--graph-up: url('data:image/svg+xml;charset=utf-8, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-graph-up-arrow" viewBox="0 0 16 16"><path fill-rule="evenodd" d="M0 0h1v15h15v1H0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5"/></svg>')
}
  .md-typeset .admonition.graph-up,
  .md-typeset details.graph-up {
    border-color: rgb(200, 147, 240);
  }
  .md-typeset .graph-up > .admonition-title,
  .md-typeset .graph-up > summary {
    background-color: rgba(76, 00, 188, 0.1);
  }
  .md-typeset .graph-up > .admonition-title::before,
  .md-typeset .graph-up > summary::before {
    background-color: rgb(179, 101, 238);
    -webkit-mask-image: var(--md-admonition-icon--graph-up);
            mask-image: var(--md-admonition-icon--graph-up);
  }